.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/spring-kotlin-router-handlers/build/
/spring-kotlin-migration/build
/spring-kotlin-r2dbc/build
/spring-kotlin-redis/build
/spring-kotlin-routers/build